.jumbotron {
    background: rgba(255,183,0,1);
background: -moz-linear-gradient(-45deg, rgba(255,183,0,1) 0%, rgba(252,205,77,1) 41%, rgba(18,10,255,1) 41%, rgba(49,0,247,1) 73%, rgba(255,8,70,1) 73%, rgba(255,8,70,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,183,0,1)), color-stop(41%, rgba(252,205,77,1)), color-stop(41%, rgba(18,10,255,1)), color-stop(73%, rgba(49,0,247,1)), color-stop(73%, rgba(255,8,70,1)), color-stop(100%, rgba(255,8,70,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,183,0,1) 0%, rgba(252,205,77,1) 41%, rgba(18,10,255,1) 41%, rgba(49,0,247,1) 73%, rgba(255,8,70,1) 73%, rgba(255,8,70,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,183,0,1) 0%, rgba(252,205,77,1) 41%, rgba(18,10,255,1) 41%, rgba(49,0,247,1) 73%, rgba(255,8,70,1) 73%, rgba(255,8,70,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,183,0,1) 0%, rgba(252,205,77,1) 41%, rgba(18,10,255,1) 41%, rgba(49,0,247,1) 73%, rgba(255,8,70,1) 73%, rgba(255,8,70,1) 100%);
background: linear-gradient(135deg, rgba(255,183,0,1) 0%, rgba(252,205,77,1) 41%, rgba(18,10,255,1) 41%, rgba(49,0,247,1) 73%, rgba(255,8,70,1) 73%, rgba(255,8,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff0846', GradientType=1 );
    color:white;
    text-align: center;
    height: 170px;
    margin-top: 50px;
    
}

h1.nombre-sitio{
    font-family: 'PT Sans', sans-serif;
    font-size: 5.9vw;
    
    
}

@media (min-width: 768px){
    h1.nombre-sitio{
    font-size: 7.5vw;
    margin: 0;
    line-height: 1;

    
    }
}


footer {
    padding: 10px 10px 0 10px;
    background-color: wheat;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel {
    flex: 1 150px;
    padding: 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}

a {
    color: black;
}
h4 {
    color: rgb(79, 79,79);
}

h3 {
    color: rgb(163, 163,163);
}

.icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
