.jumbotron {
  background: #ffb700;
  background: -moz-linear-gradient(-45deg, #ffb700 0%, #fccd4d 41%, #120aff 41%, #3100f7 73%, #ff0846 73%, #ff0846 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffb700), color-stop(41%, #fccd4d), color-stop(41%, #120aff), color-stop(73%, #3100f7), color-stop(73%, #ff0846), color-stop(100%, #ff0846));
  background: -webkit-linear-gradient(-45deg, #ffb700 0%, #fccd4d 41%, #120aff 41%, #3100f7 73%, #ff0846 73%, #ff0846 100%);
  background: -o-linear-gradient(-45deg, #ffb700 0%, #fccd4d 41%, #120aff 41%, #3100f7 73%, #ff0846 73%, #ff0846 100%);
  background: -ms-linear-gradient(-45deg, #ffb700 0%, #fccd4d 41%, #120aff 41%, #3100f7 73%, #ff0846 73%, #ff0846 100%);
  background: linear-gradient(135deg, #ffb700 0%, #fccd4d 41%, #120aff 41%, #3100f7 73%, #ff0846 73%, #ff0846 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff0846', GradientType=1 );
  color: white;
  text-align: center;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 0px; }

h1.nombre-sitio {
  font-family: 'PT Sans', sans-serif;
  font-size: 5.9vw; }

@media (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 7.5vw;
    margin: 0;
    line-height: 1; } }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffb700;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

a {
  color: black; }

h4 {
  color: #4f4f4f; }

h3 {
  color: #a3a3a3; }

.icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
